ion-accordion {
    margin: 0 auto;
}

ion-accordion.accordion-expanding,
ion-accordion.accordion-expanded {
    width: calc(100% - 32px);

    margin: 16px auto;
}

ion-accordion.accordion-collapsing ion-item[slot='header'],
ion-accordion.accordion-collapsed ion-item[slot='header'] {
    --background: var(--ion-color-light);
    --color: var(--ion-color-light-contrast);
}

ion-accordion.accordion-expanding ion-item[slot='header'],
ion-accordion.accordion-expanded ion-item[slot='header'] {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
}

#titulo {
    font-weight: bold;
    font-size: 20px;

}

#tituloCadastro {
    font-size: 20px;
    font-weight: bold;

}

#mostrarCaixa {
    display: none;

}

#textBox {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}
#titleBotao{
padding: 0%;
margin: 0%;
font-size: 20px;
justify-content: center;
font-weight: bold;
}
#textBotao{
display: flex;
align-items: center;
color: rgb(255, 255, 255);

}
ion-button {
    --background: #5b5c63;
}  
    